html{
  box-sizing: border-box;
  max-width: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

.nav_items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 212px;
  background-color: tomato;
}

main{
  width: 100%;
  height: 1310px;
}

.article_block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main h1{
  position: absolute;
  width: 50%;
  height: 80px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  text-align: center;
  background-color: white;
}

.article_block article{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 650px;
  margin-bottom: 5px;
  border: 1px solid white;
  background-color: red;
}

.article_block_text{
  text-align: center;
}

.seriously_red{
  position: absolute;
  width: 200px;
  height: 30px;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 230px;
}

.articles{
  height: 436px;
  width: 100%;
  border: 1px solid black;
  bottom: -5px;
  background-color: blue;
}

.articles p{
  padding-left: 2.5rem;
  padding-top: 2rem;
}

.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.grid-item{
  background-color: chocolate;
  height: 300px;
  border: 1px solid white;
}

.smashing{
  width: 96%;
  margin: 5px auto;
  height: 400px;
  background-color: rgb(48, 0, 10);
  border-radius: 2%;
}

h1{
  text-align: center;
}

.span-text{
  height: 50px;
  padding-top: 2rem;
  text-align: center;
  font-size: large;
}

.ethical-design{
  background-color: cyan;
  margin-top: 3rem;
  height: 739px;
  width: 100%;
  text-align: center;
}

.person-week{
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  height: 320px;
  background-color: yellow;
}

.person-picture{
  border: 1px solid white;
}

.people-articles{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  background-color: teal;
}

.persons{
  border: 1px solid white;
  height: 500px;
}

.more-links{
  width: 100%;
  height: 150px;
  text-align: center;
  margin-top: 140px;
}

.design-systems{
  height: 401px;
  width: 100%;
  background-color: violet;
}

.guides{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 633px;
  background-color: yellowgreen;
}

.guides-text{
  border: 1px solid white;
}

.design-patterns{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 633px;
  background-color: wheat;
}

.design-items{
  border: 1px solid white;
}

.article_block2{
  width: 100%;
  height: 150px;
  text-align: center;
  margin-top: 140px;
}

footer{
  height: 662px;
  width: 100%;
  background-color: green;
  padding-top: 50px;
  text-align: center;
}

.footer-heading{
  height: 329px;
  width: 80%;
  background-color: turquoise;
  margin: 0 auto;
  border: 1px solid white;
  
}

.footer-bottom{
  margin: 30px auto;
  height: 223px;
  width: 80%;
  border: 1px solid white;
  background-color: turquoise;
}
