html {
  box-sizing: border-box;
  max-width: 100%;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav_items {
  align-items: center;
  background-color: tomato;
  display: flex;
  height: 212px;
  justify-content: space-around;
  width: 100%;
}

main {
  height: 1310px;
  width: 100%;
}

.article_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  background-color: white;
  height: 80px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 50%;
}

.article_block article {
  align-items: center;
  background-color: red;
  border: 1px solid white;
  display: flex;
  height: 650px;
  justify-content: center;
  margin-bottom: 5px;
  width: 50%;
}

.article_block_text {
  text-align: center;
}

.seriously-red {
  height: 30px;
  left: 0;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 230px;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}

.articles {
  background-color: blue;
  border: 1px solid black;
  bottom: -5px;
  height: 436px;
  width: 100%;
}

.articles p {
  padding-left: 2.5rem;
  padding-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.grid-item {
  background-color: chocolate;
  border: 1px solid white;
  height: 300px;
}

.smashing {
  background-color: rgb(48, 0, 10);
  border-radius: 2%;
  height: 400px;
  margin: 5px auto;
  width: 96%;
}

h1 {
  text-align: center;
}

.span-text {
  font-size: large;
  height: 50px;
  padding-top: 2rem;
  text-align: center;
}

.ethical-design {
  background-color: cyan;
  height: 739px;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}

.person-week {
  background-color: yellow;
  display: grid;
  grid-template-columns: 25% 75%;
  height: 320px;
  width: 100%;
}

.person-picture {
  border: 1px solid white;
}

.people-articles {
  background-color: teal;
  display: grid;
  grid-template-columns: auto auto;
  height: 1500px;
  width: 100%;
}

.persons {
  border: 1px solid white;
}

.more-links {
  height: 150px;
  margin-top: 140px;
  text-align: center;
  width: 100%;
}

.design-systems {
  background-color: violet;
  height: 401px;
  width: 100%;
}

.guides {
  background-color: yellowgreen;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 633px;
  width: 100%;
}

.guides-text {
  border: 1px solid white;
}

.design-patterns {
  background-color: wheat;
  display: grid;
  grid-template-columns: 25% 75%;
  height: 633px;
  width: 100%;
}

.design-items {
  border: 1px solid white;
}

.article_block2 {
  height: 150px;
  margin-top: 140px;
  text-align: center;
  width: 100%;
}

footer {
  background-color: green;
  padding-bottom: 2rem;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

.footer-heading {
  background-color: turquoise;
  border: 1px solid white;
  height: 329px;
  margin: 0 auto;
  width: 80%;
}

.footer-bottom {
  background-color: turquoise;
  border: 1px solid white;
  height: 223px;
  margin: 30px auto;
  width: 80%;
}
